{% extends "base.html" %}
{% load static %}
{% block content %}
   <form action="{% url 'redirect_example' %}" method="post">
   {% csrf_token %}
   {{ form.non_field_errors }}
   <div class='container'>
      <div class='row' style="padding-top:20px;">
	 <div class='col-sm-6'>
            <div class='fieldWrapper'>
               {{ form.no_preg.errors }}
	       <label for="{{ form.no_preg.id_for_label}}">
	          Number of Preg.:&nbsp;
	       </label>
	       <span style="border:0px;border-bottom:2px solid #eee">{{ form.no_preg }}</span>
             </div>
	  </div>
	  <div class='col-sm-6'>
	     <div class='fieldWrapper'>
	        {{ form.glu.errors }}
	        <label for="{{form.glu.id_for_label}}">
	           Plasma Glu Conc.:&nbsp;
	        </label>
		<span style="border:0px;border-bottom:2px solid #eee">{{ form.glu }}</span>
             </div>
	  </div>
      </div>
      <div class='row' style="padding-top:20px;">
         <div class='col-sm-6'>
	    <div class='fieldWrapper'>
	       {{ form.bp.errors }}
	       <label for="{{form.bp.id_for_label}}">
	          Blood Pressure(mmHg):&nbsp;
	       </label>
	       <span style="border:0px;border-bottom:2px solid #eee">{{ form.bp }}</span>
	    </div>
         </div>
         <div class='col-sm-6'>
            <div class="fieldWrapper">
               {{form.st.errors}}
	       <label for="{{form.st.id_for_label}}">
	          Skin Thickness(mm):&nbsp;
	       </label>
	       <span style="border:0px;border-bottom:2px solid #eee">{{form.st}}</span>
	    </div>
	 </div>
      </div>
      <div class='row' style="padding-top:20px;">
         <div class="col-sm-6">
            <div class="fieldWrapper">
	       {{form.isl.errors}}
	       <label for="{{form.isl.id_for_label}}">
	          Insulin(mu U/ml):&nbsp;
	       </label>
	       <span style="border:0px;border-bottom:2px solid #eee">{{form.isl}}</span>
            </div>
         </div>
	 <div class="col-sm-6">
            <div class="fieldWrapper">
               {{form.bmi.errors}}
	       <label for="{{form.bmi.id_for_label}}">
	          Body Mass Index(kg/m<sup>2</sup>):&nbsp;
	       </label>
	       <span style="border:0px;border-bottom:2px solid #eee">{{form.bmi}}</span>
	    </div>
	 </div>
      </div>
      <div class='row' style="padding-top:20px;">
         <div class='col-sm-6'>
            <div class="fieldWrapper">
               {{form.dpf.errors}}
	       <label for="{{form.dpf.id_for_label}}">
                  Diabetes Ped. Func.:&nbsp; 
	       </label>
	       <span style="border:0px;border-bottom:2px solid #eee">{{form.dpf}}</span>
	    </div>
         </div>
	 <div class="col-sm-6">
            <div class="fieldWrapper">
               {{form.age.errors}}
	       <label for="{{form.age.id_for_label}}">
	          Age:&nbsp;
	       </label>
	       <span style="border:0px;border-bottom:2px solid #eee">{{form.age}}</span>
	    </div>
         </div>
      </div>
      <div style='text-align:center;padding-top:30px;'>
         <button type="submit" value='diagnose' 
		 class="btn-primary"> Diagnose
	 </button>
	 {% if not data.any %}
         <button disabled>
            Visualize
         </button>
	 {% endif %}
	 {% if data.any %}
	 <button type="button" class="btn-success" onclick="displayGraph()">
               Visualize
         </button>
	 {% endif %}
      </div>
   </div>
   </form>
   <hr>
   <p style="padding-top:30px;"></p>
   <div class="container">
   <div class="row">
   <div class="col-sm-7">
   {% if predClass == 0 %}
   <h4>Result</h4>
   <p>You have {{probability}}% chance of not being diabetic</p>
   {% endif %}
   {% if predClass == 1 %}
   <h4>Result</h4>
   <p>You have {{probability}}% chance of being diabetic</p>
   {% endif %}
   </div>
   <div class="col-sm-5" id = "showgraph" style="display: none;">
           {% include 'graph.html' %}
   </div>
   </div>
   </div>
	<script>
	function displayGraph(){
		var showgraph = document.getElementById("showgraph")
		showgraph.style.display = "block";
	}
	</script>
{% endblock %}
